.table-header-info
{
	h1
	{
		margin: 0;
	}

	.table-button-panel
	{
		display: flex;
		align-items: center;

		a
		{
			display: inline-block !important;
			margin-right: 30px;
			cursor: pointer;
		}
	}
}