<div class="spacing-top col-md-offset-1 col-md-10">
	<div class="row">
		<h1 class="pull-left" style="margin: 0px;">{{viewer.first_name}} {{viewer.last_name}}</h1>
		<button type="button" class="pull-right btn btn-lg btn-danger" data-toggle="modal" ui-sref="viewer" ng-click="delete()">Delete</button>
		<button type="button" class="pull-right btn btn-lg btn-success" data-toggle="modal" data-target="#editViewerModal" style="margin-right: 20px;">Edit</button>
	</div>
	<div class="row">
		<div class="viewer-profile-container">
			<!-- Image -->
			<div class="viewer-profile" ng-if="viewer.id">
				<p>Id: {{viewer.id}}</p>
				<p>First Name: {{viewer.first_name}}</p>
				<p>Last Name: {{viewer.last_name}}</p>
				<p>Age: {{viewer.age}}</p>
				<p>Gender: {{viewer.gender | lowercase}}</p>
				<p>Country: {{viewer.country}}</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="log-container" ng-controller="LogCtrl">
			<div>
				<h2 class="pull-left" style="margin: 0px;">Logs</h2>
				<div class="pull-right" id="log-button-panel">
					<a ng-click="refresh()"><i class="fa fa-refresh fa-2x"></i></a>
					<button class="btn btn-lg btn-primary" ng-click="add()" data-toggle="modal" data-target="#addLogModal">Add</button>
				</div>
			</div>
			

			<table class="table table-hover">
				<thead>
					<tr>
						<th>Log Id</th>
						<th>Movie Id</th>
						<th>Movie Title</th>
						<th>Date</th>
						<th>Latitude</th>
						<th>Longitude</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="log in logs | itemsPerPage: limit" class="paginate">
						<td>{{log.id}}</td>
						<td>{{log.movie.id}}</td>
						<td>{{log.movie.title}}</td>
						<td>{{log.date | date: 'medium'}}</td>
						<td>{{log.geo_location.latitude}}</td>
						<td>{{log.geo_location.longitude}}</td>
					</tr>
				</tbody>
			</table>
			<dir-pagination-controls></dir-pagination-controls>


			<!-- Modal -->
			<div class="modal fade" id="addLogModal" tabindex="-1" role="dialog" aria-labelledby="logLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="logLabel">Add Log</h4>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label for="title">Title</label>
									<input class="form-control" type="text" name="title" ng-model="movie.title" placeholder="Movie Title" id="title" required>
								</div>
								<div class="form-group">
									<label for="director">Director</label>
									<input class="form-control" type="text" name="director" ng-model="movie.director" placeholder="Movie Director" id="director" required>
								</div>
								<div class="form-group">
									<label for="genre">Genre</label>
									<select id="genre" class="form-control" ng-model="movie.genre">
										<option value="ACTION">Action</option>
										<option value="ADVENTURE">Adventure</option>
										<option value="COMEDY">Comedy</option>
										<option value="CRIME">Crime</option>
										<option value="FANTASY">Fantasy</option>
										<option value="HORROR">Horror</option>
										<option value="MYSTERY">Mystery</option>
										<option value="ROMANCE">Romance</option>
										<option value="SCIENCEFICTION">Science Fiction</option>
										<option value="THRILLER">Thriller</option>
										<option value="ANIMATION">Animation</option>
										<option value="DRAMAFILM">Drama Film</option>
										<option value="BIOGRAPHY">Biography</option>
									</select>
								</div>
								<div class="form-group">
									<label for="release">Release</label>
									<input class="form-control" type="date" name="release" ng-model="movie.release" placeholder="Movie Release" id="release" required>
								</div>
								<div class="form-group">
									<label for="country">Country</label>
									<input class="form-control" type="text" name="country" ng-model="movie.country" placeholder="Movie Country" id="country" required>
								</div>
								<div class="form-group">
									<label for="language">Language</label>
									<input class="form-control" type="text" name="language" ng-model="movie.language" placeholder="Movie Language" id="language" required>
								</div>
								<div class="form-group">
									<label for="runtime">Runtime</label>
									<input class="form-control" type="number" name="runtime" ng-model="movie.runtime" placeholder="Movie Runtime" id="runtime" required>
								</div>
								<div class="form-group">
									<label for="date">Date</label>
									<input class="form-control" type="date" name="date" ng-model="date" placeholder="Log Date" id="date" required>
								</div>
								<div class="form-group">
									<label for="latitude">Latitude</label>
									<input class="form-control" type="text" name="latitude" ng-model="geo_location.latitude" placeholder="Latitude" id="latitude" required>
								</div>
								<div class="form-group">
									<label for="longitude">Longitude</label>
									<input class="form-control" type="text" name="longitude" ng-model="geo_location.longitude" placeholder="Longitude" id="longitude" required>
								</div>
								<button class="btn btn-primary" data-dismiss="modal" type="submit" ng-click="add()">Add</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="recommended-container" ng-controller="RecommendedCtrl">
			<h2>Recommended</h2>

			<table class="table table-hover">
				<thead>
					<tr>
						<th>Movie Id</th>
						<th>Movie Title</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="movie in recommended | itemsPerPage: limit" class="paginate">
						<td>{{movie.id}}</td>
						<td>{{movie.title}}</td>
					</tr>
				</tbody>
			</table>
			<dir-pagination-controls></dir-pagination-controls>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="editViewerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Edit Viewer</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="firstName">First Name</label>
						<input class="form-control" type="text" name="firstName" ng-model="editViewer.firstName" placeholder="First Name" id="firstName" required>
					</div>
					<div class="form-group">
						<label for="lastName">Last Name</label>
						<input class="form-control" type="text" name="lastName" ng-model="editViewer.lastName" placeholder="Last Name" id="lastName" required>
					</div>
					<div class="form-group">
						<label for="age">Age</label>
						<input class="form-control" type="number" name="age" ng-model="editViewer.age" placeholder="Age" id="age" required>
					</div>
					<div class="form-group">
						<label for="gender">Gender</label>
						<select id="gender" class="form-control" ng-model="editViewer.gender">
							<option value="MALE">Male</option>
							<option value="FEMALE">Female</option>
						</select>
					</div>
					<div class="form-group">
						<label for="country">Country</label>
						<input class="form-control" type="text" name="country" ng-model="editViewer.country" placeholder="Country" id="country" required>
					</div>

					<button class="btn btn-primary" data-dismiss="modal" type="submit" ng-click="edit()">Edit</button>
				</form>
			</div>
		</div>
	</div>
</div>